h1{
  color: blue;  
}

li {
  color: rgb(0,200,0);
}

p{
  color: #000000;
}

h4{
  color: rgba(13,90,140,0.5)
}

body{
  font-family: Arial, Helvetia, sans-serif;
  color: black;
  background-color: #F0E68C;
}

select {
  font-size: 16px;
}

.textblue {
  color: blue;
}

.textdisabled {
  background-color: lightgray;
}
